@charset "utf-8";
/* 폰트 배경색 드래그 금지 설정 */
body{
    font-family: 'Nanum Gothic','Lexend Deca';
    background: #110F10;
    color:#fff;
    width: 100%;
    overflow-x: hidden;
    -webkit-touch-callout: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
/* 리스트 스타일 제거 */
ul,li,dd,dt{
    list-style: none;
}
/* 슬라이드 설정 */
.section{
    width: 100%;
    height: 100%;
}
/* a태그 서식 제거 */
a{
    text-decoration: none;
    color:#fff;
}
/* 첫 화면 설정 */
.main{
    position: relative;
}

/* 제목 설정 */
.main_h1 li{
    position: absolute;
    font-size: 90px;
    font-weight: bold;
}
.name{
    left:-4000px;
    top:234px;
}
.h_sub{
    left:4450px;
    top:365px;
}
.welcome{
    left:-4450px;
    top:500px;
}
.scr{
    position: absolute;
    bottom: -150px;
    text-align: center;
    font-size: 18px;
    left:45%;
}
   
.ani{
    animation-name: scr;
    animation-iteration-count: infinite;
    animation-duration:5s;
  
}


@keyframes scr{
    0%{bottom:8%;}
    50%{bottom:10%;}
    0%{bottom:8%;}
}


.name{ /*이름 설정*/
    font-weight: normal;
    margin-bottom: 20px;
}
.h_sub{ /*포트 폴리오 글자 설정*/
    margin-left: 70px;
    background: #fff;
    color:#000;
    width: 1400px;
    margin-bottom: 20px;
   
}
.block{
    position: absolute;
    width: 523px;
    height: 120px;
    background: #110F10;
    z-index: 1003;
    top:361px;
    left:0px;
}
.h_subt{
    position: absolute;
    top:0px;left:0px;
    z-index: 1001;
}
.h_sub2{
    position: absolute;
    top:-3px;
    left: -73px;
    margin-left: 70px;
    background: linear-gradient(90deg, rgba(69,63,66,1) 0%, rgba(255,255,255,1) 50%, rgba(222,222,222,1) 100%);
    height: 116px;
    width: 2500px;
    margin-bottom: 20px;
    animation-name: gradi;
    animation-iteration-count: infinite;
    animation-duration:5s;
}
@keyframes gradi{
    0%{left:-73px;}
    50%{left:-920px;}
    100%{left:-73px;}
}

.welcome{ /*설명 글자 설정*/
    margin-left: 186px;
    font-size: 60px!important;
    font-weight: normal !important;
}

