@charset "utf-8";
/* 위에 왼쪽 라인 설정 */
.left_line{ 
    width: 111px;
    height: 73px;
    border-bottom: 3px solid #fff;
    display: block;
    position: fixed !important;
    top:-1000px;
    z-index: 99;

}
/* 위에 오른쪽 라인 설정 */
.right_line{ 
    width: 1597px;
    height: 73px;
    border-bottom: 3px solid #fff;
    display: block;
    position: fixed;
    right: 0;
    top:-1000px;
    z-index: 99;

}
/* 밑 라인 설정 */
.under_line{
    width: 1920px;
    height: 73px;
    display: block;
    border-top: 3px solid #fff;
    position: fixed;
    bottom: -1000px;
    z-index: 99;
}
/* 연도 설정 */
.year_main{
    font-size: 60px;
    color:#fff;
    position: fixed;
    left:150px;top:-1000px;
    width: 200px;
    height: 73px;
    z-index: 99;
    display: block;
    line-height: 130px;
}
/* 위 라인 배경색 설정 */
.line{
    width: 1920px;
    height: 73px;
    background: #110F10;
    z-index: 99;
    position: fixed;
    display: block;
    left:0px;top:0px;
}
/* 밑 라인 배경색 설정 */
.uline{
    width: 1920px;
    height: 73px;
    background: #110F10;
    z-index: 99;
    position: fixed;
    display: block;
    left:0px;bottom:0px;
}
/* 프로필 메뉴 설정 */
.profile{
    width: 1920px;
    height: 900px;
    background: #110F10;
    position: relative;
}
/* 프로필 메뉴 제목 */
.profile h2{
    position: absolute;
    font-size: 40px;
    top:10%;
    left:30px;
}
/* 중앙에 있는 프로필 설정 */
.profile_main{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    position: absolute;
    top:20%;
    left:20%;
    
}
/* 기본 dt 지우기 */
.title{
    display: none;
    
}
/* 중앙 프로필 제목 설정 */
.profile_main dt {
    font-weight: bold;
    border-bottom: 3px solid #fff;
    width: 170px;
    font-size: 24px;
    margin-bottom: 10px;
    transform: translateX(38px);
}
/* 내용 설정 */
.profile_main dd {
    margin-bottom: 20px;
}
/* 프로필은 중앙 정렬 */
.profile_sub dd{
    text-align: center;
} 
/* 증명사진 설정 */
.face{
    background: #fff;
    width: 167px;
    height: 203px;
    border-radius: 50%;
}
.face img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    pointer-events : none;
}

/* 스킬 바 기본 길이 설정 */
.d_bar{
    width: 150px;
    height: 10px;
    background: #fff;
    border-radius: 20px;
    display: block;
}
/* 스킬바 기본 설정 */
.i_bar{
    height: 10px;
    background: #ffff00;
    border-radius: 20px;
    display: block;
}
/* 각각 스킬바 설정하기 */
.ht{width: 120px;}
.cs{width: 130px;}
.js{width: 100px;}
.jq{width: 90px;}
.pp{width:110px;}
.ps{width: 100px;}
.ai{width: 100px;}
.c{width: 80px;}
.wj{width: 120px;}
.wp{width: 120px;}

/* 포트폴리오 메뉴 설정 */
.portfolio{
    width: 1920px;
    height: 900px;
    background: #110F10;
    position: relative;
}
/* 슬라이드 설정 */
.mySwiper{
    width: 1200px;
    height: 500px;
    margin: 0px auto;
    
    position: relative;
    text-align: center;
}
/* 슬라이드 바 설정 */
.swiper-pagination-progressbar-fill{
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,98,0,1) 10%, rgba(238,250,32,1) 27%, rgba(61,246,70,1) 37%, rgba(78,159,244,1) 50%, rgba(61,89,246,1) 75%, rgba(232,61,246,1) 100%) !important;
}
/* 슬라이드 다음 이전 버튼 설정 */
.swiper-button-next,.swiper-button-prev{
    color: #fff !important;
}
/* 포트폴리오 제목 설정 */
.portfolio h2{
    position: absolute;
    font-size: 40px;
    top:10%;
    left:30px;
}
/* 슬라이드 이미지 설정 */
.mySwiper img{
    width: 50%;
    float: right;
    transform: translateY(50px);
    margin-right: 100px;
    transition: 0.3s;
    border-radius: 20px;
}

.mySwiper img:hover{
    transform: scale(1.2) translateY(50px);
    
}
/* 슬라이드 설명 설정 */
.slide_sub{
    text-align:left;
    position: absolute;
    top:15%;
    left: 30px;
    font-size: 16px;
}
/* 슬라이드 설명 제목 */
.slide_sub dt{
    transform: translateX(40px);
    padding-bottom: 20px;
    font-weight: bold;
}
.slide_sub dt span{
    
    background:#fff;
    color:#110F10;
}
/* 슬라이드 설명 내용 */
.slide_sub dd{
    padding-bottom: 20px;
}

/* 버튼 설정 */
.slide_sub dd a{
    width: 100px;
    display: block;
    background: #fff;
    color:#333;
    text-align: center;
    border-radius: 20px;
    font-size: 14px;
    padding: 6px 8px;
    transition: 0.3s;
    border :1px solid #333;
    
}
/* 버튼 마우스 오버 시 설정 */
.slide_sub dd a:hover{
    color:#fff;
    border :1px solid#fff;
    background: none;
}
/* 연락처 메뉴 설정 */
.contact{
    position: relative;
}
/* 연락처 메뉴 제목 설정 */
.contact h2{
    position: absolute;
    font-size: 40px;
    top:10%;
    left:30px;
    
}
/* 연락처 메뉴 메인 설정 */
.call{
    display: flex;
    width: 1200px;
    height: 400px;
    margin: 0px auto;
    font-size: 24px;
    border: 5px solid #fff;
    position: relative;


}
/* 연락처 메뉴 내용 설정 */
.call li{
    position: absolute;
    bottom: 5%;
}
/* 각각 내용 위치 설정 */
.call li:first-child{
    top: 20% !important;
    font-size: 36px;
    text-align: center !important;
}
.call li:nth-child(2){
    left:3%;
}
.call li:nth-child(3){
    left:34%;
}
.call li:last-child{
    right:3%;
}
/* 연락처 메뉴 아이콘 설정 */
.call i{
    margin-right: 20px;
}